* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Quicksand", normal;
  }

  /* First Page */

  body, html {
    height: 100%;
  }
  
  body {
    /* The image used */
    background-image: url("images/gradient-background.png");
    
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 28px;
  }


  .take-info p {
    position: absolute;
    width: 1049px;
    height: 127px;
    left: 196px;
    top: 375px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    
    color: #FFFFFF;
    
  }
  

  .take-info a {
    position: absolute;
    width: 173px;
    height: 55px;
    left: 949px;
    top: 547px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    
    color: #4B1972;
    
}