* {
  box-sizing: border-box;
  margin: 0;
}

/* First Page */

body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("images/gradient-background.png");
  font-family: "Quicksand", normal;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 28px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.circles-container {
  display: flex;
  position: relative;
}

.circles-container img{
  position: absolute;
}

.circles-container .big-purple {
  width: 404px;
  height: 395px;
  left: -76px;
  top: -66px;
}

.circles-container .small-purple {
  width: 60px;
  height: 58px;
  left: 349px;
  top: 419px;
}

.circles-container .big-yellow {
  width: 261px;
  height: 259px;
  left: 85px;
  top: 218px;
}

.circles-container .small-yellow {
  width: 120px;
  height: 115px;
  left: 289px;
  top: 145px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-content h1 {
  position: absolute;
  width: 1128px;
  height: 273px;
  left: 380px;
  top: 350px;
  
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 134.905px;
  line-height: 196.5%;
  /* or 265px */
  
  text-align: center;

  /* text-shadow: 2px 2px #a6a896; */
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  
  color: #F9F0F0;
}


.intro-content .p1 {
  

  position: absolute;
  width: 732px;
  height: 48px;
  left: 430px;
  top: 530px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 196.5%;
  /* or 63px */
  
  text-align: center;
  text-shadow: 1px 1px #abaca7;
  
  color: #FDF3F3;
  
}

.intro-content .p2 {
  

  position: absolute;
  width: 300px;
  height: 48px;
  left: 1110px;
  top: 650px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 196.5%;
  /* or 63px */
  
  text-align: center;
  text-shadow: 1px 1px #aba7ac;
  
  color: #4B1972;

  /* text-decoration:  none; */

  /* background-image: url("images/yellow-button.png");
  background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* border-radius: 28px; */
}

.button {
  position: absolute;
  width: 220px;
  height: 65px;
  left: 1150px;
  top: 650px;
  padding-bottom: 10px;
  
  background: linear-gradient(0deg, rgba(251, 253, 139, 0.84), rgba(251, 253, 139, 0.84));
  border-radius: 14px;
  color: #4B1972;
}

.take-info p {
  position: absolute;
  width: 1049px;
  height: 127px;
  left: 196px;
  top: 375px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  
  color: #FFFFFF;
  
}


.take-info button {
  position: absolute;
  width: 173px;
  height: 55px;
  left: 949px;
  top: 547px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
  
  color: #4B1972;
  
}


/* drop down design*/

.droplist {
  
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

  
}


.dropdown-content {
display: none;
position: absolute;
background-color:azure;
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 50px 0px;
z-index: 1;

color:#4B1972;
}
.dropdown:hover .dropdown-content {
display: block;
width: 934px;
height: 74px;
left: 196px;
top: 355px;

font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 52px;

color:#4B1972;


}
.dropdown-content .droplist:hover {background-color: #d6d6ba}



.choose {
position: absolute;
width: 1000px;
  height: 74px;
  left: 220px;
  top: 450px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 52px;

  color:#9350c7;
}

.bg-pg3 {
  position: absolute;
  width: 1000px;
  height: 660px;
  left: 280px;
  top: 50px;

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.68), rgba(255, 255, 255, 0.68));
  border-radius: 32px;
}

.book-img-holder {
  position: absolute;
  width: 311px;
  height: 243px;
  left: 350px;
  top: 150px;
  
  background: #C4C4C4;
  border-radius: 25px;
}

.rec-book-title {
  position: absolute;
  width: 485px;
  height: 63px;
  left: 320px;
  top: 70px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 52px;
  
  color: #4B1972;
  
}
.keys {
  position: absolute;
  width: 475px;
  height: 237px;
  left: 687px;
  top: 160px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  color: #4B1972;

}

.summary-title {
  position: absolute;
  width: 900px;
  height: 241px;
  left: 350px;
  top: 400px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  color: #4B1972;
  }

  .summary-text {
    position: absolute;
    width: 930px;
    height: 269px;
    left: 350px;
    top: 430px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 46px;
    
    color: #6517a1;
  }

  .values {
    position: absolute;
    width: 430px;
    height: 269px;
    left: 850px;
    top: 160px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 46px;
    
    color: #6517a1;
  }
  
  .new-background {
    background-color: #abaca7;
  }
