* {
  box-sizing: border-box;
  margin: 0;
}

/* First Page */

body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("images/gradient-background.png");
  font-family: "Quicksand", normal;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 28px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.circles-container {
  display: flex;
  position: relative;
}

.circles-container img{
  position: absolute;
}

.circles-container .big-purple {
  width: 404px;
  height: 395px;
  left: -76px;
  top: -66px;
}

.circles-container .small-purple {
  width: 60px;
  height: 58px;
  left: 349px;
  top: 419px;
}

.circles-container .big-yellow {
  width: 261px;
  height: 259px;
  left: 85px;
  top: 218px;
}

.circles-container .small-yellow {
  width: 120px;
  height: 115px;
  left: 289px;
  top: 145px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-content h1 {
  position: absolute;
  width: 1128px;
  height: 273px;
  left: 380px;
  top: 350px;
  
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 134.905px;
  line-height: 196.5%;
  /* or 265px */
  
  text-align: center;

  /* text-shadow: 2px 2px #a6a896; */
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  
  color: #F9F0F0;
}


.intro-content .p1 {
  

  position: absolute;
  width: 732px;
  height: 48px;
  left: 430px;
  top: 530px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 196.5%;
  /* or 63px */
  
  text-align: center;
  text-shadow: 1px 1px #abaca7;
  
  color: #FDF3F3;
  
}

.intro-content .p2 {
  

  position: absolute;
  width: 300px;
  height: 48px;
  left: 1110px;
  top: 650px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 196.5%;
  /* or 63px */
  
  text-align: center;
  text-shadow: 1px 1px #aba7ac;
  
  color: #4B1972;

  /* text-decoration:  none; */

  /* background-image: url("images/yellow-button.png");
  background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* border-radius: 28px; */
}

.button {
  position: absolute;
  width: 220px;
  height: 65px;
  left: 1150px;
  top: 650px;
  padding-bottom: 10px;
  
  background: linear-gradient(0deg, rgba(251, 253, 139, 0.84), rgba(251, 253, 139, 0.84));
  border-radius: 14px;
  color: #4B1972;
}

.take-info p {
  position: absolute;
  width: 1049px;
  height: 127px;
  left: 196px;
  top: 375px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  
  color: #FFFFFF;
  
}


.take-info button {
  position: absolute;
  width: 173px;
  height: 55px;
  left: 949px;
  top: 547px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
  
  color: #4B1972;
  
}




