* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
  }

  /* First Page */

  body, html {
    height: 100%;
  }
  
  .background {
    /* The image used */
    background-image: url("images/gradient-background.png");
    
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 28px;
  }